/* General */

:root {
  --black: #000;
  --pastel-pink: #ffd1dc;
  --grey: #887766;
  --light-pink: #FEF8FE;
}

.white{
  color: white;
}

.wrapper{
  padding: 10px;
}

.active{
  color: var(--black);
}

.nav-link{
  color: var(--grey);
  //padding: 50px;
}

.navbar{
  border: 2px solid black;
  font-size: 24px;
}

.navbar-nav{
  text-align: center;
}

p{
  font-size: 24px;
  font-weight: 100;
}

h1{ 
  font-weight: 200;
  font-size: 72px;
}

img{
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  z-index: -1;
  //bottom: 0;
  //left: 0;
}
 
.info{
  position: absolute;
  font-weight: 300;
  font-size: 24px;
  bottom: 25%;
  left: 10%;
}
    
.h2{
  font-size: 36px;
}

.row{
  margin: 1em;
  padding: 20px;
  font-weight: 250;
  font-size: 20px;
}

.bg{
  background-image: url(pics/aboutmeEdited.jpg);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

b{
  font-weight: 450;
}
